<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!--  DB정보를 가지고있는 properties파일과 맵핑(연결) -->
	<properties resource="cookking4/mapper/db.properties"></properties>
	
	<typeAliases>		
		<typeAlias type="cookking4.model.VO" alias="VO"/>
		<typeAlias type="cookking4.model.DAO" alias = "DAO"/>
		<typeAlias type="cookking4.model.RecipeDAO" alias = "RecipeDAO"/>
		<typeAlias type="cookking4.model.RecipeVO" alias = "RecipeVO"/>
		<typeAlias type="cookking4.model.RefVO" alias = "RefVO"/>
		<typeAlias type="cookking4.model.FavoriteVO" alias = "FavVO"/>
		<typeAlias type="cookking4.model.PriceDAO" alias = "PriceDAO"/>
		<typeAlias type="cookking4.model.PriceVO" alias = "PriceVO"/>
	</typeAliases>
	
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${driver}" />
				<property name="url" value="${url}" />
				<property name="username" value="${username}" />
				<property name="password" value="${password}" />
			</dataSource>
		</environment>
	</environments>
	<!-- SQL문을 작성한 파일의 위치 -->
	<mappers>
		<mapper resource="cookking4/mapper/MemberMapper.xml" />
		<mapper resource="cookking4/mapper/RecipeMapper.xml" />
		<mapper resource="cookking4/mapper/PriceMapper.xml" />
	</mappers>
</configuration>