

 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1373px;
}

.u-section-1 .u-form-1 {
  height: 75px;
  width: 704px;
  margin: 29px auto 0;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-label-1 {
  font-weight: 700;
  font-size: 1rem;
}

.u-section-1 .u-btn-1 {
  letter-spacing: 1px;
  border-style: solid;
  background-image: none;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.875rem;
  width: 100%;
  padding: 11px 31px 12px 29px;
}

.u-section-1 .u-icon-1 {
  width: 30px;
  height: 30px;
  margin: -52px 247px 0 auto;
  padding: 3px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 838px;
  margin: 75px 128px 0 auto;
}

.u-section-1 .u-image-1 {
  min-height: 281px;
  background-image: url("../images/f075f06c-1caf-c49f-ae8f-e31af4f9cd25.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 281px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-1 .u-text-1 {
  background-image: none;
  font-family: GodoB;
  margin: 47px auto 0 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-2 {
  font-family: GodoM;
  font-size: 1.125rem;
  margin: 20px auto 0 0;
}

.u-section-1 .u-layout-wrap-2 {
  width: 838px;
  margin: 20px 128px 0 auto;
}

.u-section-1 .u-image-2 {
  min-height: 281px;
  background-image: url("../images/0f196279-0f3e-fcb6-8220-4c96a42a11c2.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 60px;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 281px;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 60px;
}

.u-section-1 .u-text-3 {
  font-family: GodoB;
  margin: 26px auto 0 0;
}

.u-section-1 .u-text-4 {
  font-family: GodoM;
  font-size: 1.0625rem;
  margin: 20px 0 0;
}

.u-section-1 .u-layout-wrap-3 {
  width: 838px;
  margin: 20px 128px 60px auto;
}

.u-section-1 .u-image-3 {
  min-height: 281px;
  background-image: url("../images/0e7f773b-b371-69a1-56d5-a4772f74a0e4.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px 60px;
}

.u-section-1 .u-layout-cell-6 {
  min-height: 281px;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px 60px;
}

.u-section-1 .u-text-5 {
  font-family: GodoB;
  margin: 27px auto 0 0;
}

.u-section-1 .u-text-6 {
  font-family: GodoM;
  font-size: 1.125rem;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-layout-wrap-1 {
    margin-right: 102px;
  }

  .u-section-1 .u-layout-wrap-2 {
    margin-right: 102px;
  }

  .u-section-1 .u-layout-wrap-3 {
    margin-right: 102px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2295px;
  }

  .u-section-1 .u-icon-1 {
    margin-right: 189px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    min-height: 483px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-layout-wrap-2 {
    width: 720px;
    margin-right: 0;
  }

  .u-section-1 .u-image-2 {
    min-height: 440px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-layout-wrap-3 {
    width: 720px;
    margin-right: 0;
  }

  .u-section-1 .u-image-3 {
    min-height: 440px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1911px;
  }

  .u-section-1 .u-form-1 {
    width: 540px;
  }

  .u-section-1 .u-icon-1 {
    margin-right: 142px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-image-1 {
    min-height: 362px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-wrap-2 {
    width: 540px;
  }

  .u-section-1 .u-image-2 {
    min-height: 330px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-wrap-3 {
    width: 540px;
  }

  .u-section-1 .u-image-3 {
    min-height: 330px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1483px;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
  }

  .u-section-1 .u-icon-1 {
    margin-right: 89px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-image-1 {
    min-height: 228px;
  }

  .u-section-1 .u-layout-wrap-2 {
    width: 340px;
  }

  .u-section-1 .u-image-2 {
    min-height: 208px;
  }

  .u-section-1 .u-layout-wrap-3 {
    width: 340px;
  }

  .u-section-1 .u-image-3 {
    min-height: 208px;
  }
}@font-face {
  font-family: 'GodoB';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/GodoB.otf);
}@font-face {
  font-family: 'GodoM';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/GodoM.ttf);
}